.conatiner-home{
  margin: auto;
} 
.conatiner-home>input{
  margin: auto;
  display: flex;
  width: 400px;
  
}
.continer-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
} 

.card{

display: flex;
flex-direction: column;
} 

.filter-container{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: auto;
width: 50%;
margin-bottom: 20px;
}